@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --background: #1C1C1C;
    --background-container-dark: #1F2937;
    --background-container-light: #ECFDF5;
    --color-random-password-dark: #4ADF86;
    --color-random-password-light: #10B981;
    --color-white: #FFFFFF;
    --color-title-light: #2B283A;
    --color-parraph-dark: #D5D4D8;
    --color-parraph-light: #6B7280;
    --background-button: #10B981;
    --bakcground-password: #273549;
    --color-password-dark: #55F991;
    --color-password-light: #5DEF92;
    --color-line-dark: #2F3E53;
    --color-line-light: #D5D4D8;
}

body {
    background: var(--background);
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
#main_toggle.active .container {
    background: var(--background-container-light);
}
#toggle {
    position: relative;
    display: block;
    margin-right: auto;
    margin-top: 5px;
    width: 80px;
    height: 40px;
    border-radius: 160px;
    background: var(--background-container-dark);
    transition: 0.5s;
    box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1), inset 0 8px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.1);
}
#toggle .indicator {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(to bottom, var(--background-container-dark), var(--bakcground-password));
    cursor: pointer;
    transform: scale(0.9);
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5), inset 0 4px 4px rgba(31, 41, 55, 0.2), inset 0 -4px 4px rgba(39, 53, 73, 0.2);
    transition: 0.5s;
}
#toggle.active {
    background: var(--background-container-light);
    box-shadow: inset 0 2px 60px rgba(0, 0, 0, 0.1), inset 0 2px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 8px rgba(0, 0, 0, 0.05);
}
#toggle.active .indicator {
    left: 40px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1), inset 0 4px 4px #D5D4D8, inset 0 -4px 4px #ECFDF5;
    background: linear-gradient(to bottom, #c0bfc4, #d6e6de);
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 550px;
    width: 550px;
    background: var(--background-container-dark);
    transition: 0.5s;
}

.title {
    color: var(--color-white);
    font-size: 45px;
    font-weight: bolder;
    width: 80%;
    margin-top: 5%;
    margin-bottom: 0;
    letter-spacing: -2.5%;
    transition: 0.5s;
}

#section_toggle.active .title {
    color: var(--color-title-light);
}

.title_decoration {
    color: var(--color-random-password-dark);
    font-size: 45px;
    font-weight: bolder;
    transition: 0.5s;
}

#section_toggle.active .title_decoration {
    color: var(--color-random-password-light);
}

.text {
    color: var(--color-parraph-dark);
    font-size: 20px;
    font-weight: 300;
    width: 80%;
    transition: 0.5s;
}

#section_toggle.active .text {
    color: var(--color-parraph-light);
}

.generate_password {
    background: var(--background-button);
    color: var(--color-white);
    font-weight: 500;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    margin-top: calc(10% - 10px);
    cursor: pointer;
    margin-right: calc(50% + 20px);
}

.line {
    width: 80%;
    height: 1px;
    background: var(--color-line-dark);
    margin-top: calc(10% - 10px);
    transition: 0.5s;
}

#section_toggle.active .line {
    background: var(--color-line-light);
}

.password_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin-top: calc(5% - 5px);
}

.password {
    background: var(--bakcground-password);
    width: 100%;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.password_text {
    color: var(--color-password-dark);
    font-size: 16px;
    font-weight: 500;
    transition: 0.5s;
}

#section_toggle.active .password_text {
    color: var(--color-password-light);
}

@media (max-width: 600px) {
    .container {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #toggle {
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        width: 40px;
        height: 20px;
    }
    #toggle .indicator {
        width: 20px;
        height: 20px;
    }
    #toggle.active .indicator {
        left: 20px;
    }
    .title {
        font-size: 30px;
    }
    .title_decoration {
        font-size: 30px;
    }
    .text {
        font-size: 15px;
    }
    .generate_password {
        margin-right: 0;
    }
    .line {
        margin-top: 5%;
    }
    .password_container {
        margin-top: 5%;
    }
    .password {
        height: 30px;
    }
    .password_text {
        font-size: 14px;
    }
}